body
{
  font-family: "Roboto", arial, sans-serif;
  font-size: 18px;
  line-height: 1.9;
  font-weight: 300;
  color: #3b3a36;
  background-color: #e9ece5;
}
hr{

    display: block;
    margin-top: 5.5px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color:#3b3a36; 
}
.center
{
    position: relative;
    background-color: #b3c2bf;
    margin-top:0px;
    margin-right:25px; 
    width: auto;
    border: 0px;
    height: auto;
    border-radius: 20px 20px 20px 20px;
    padding: 50px 90px;
};
.container {

    position: relative;
    align-items: center;  
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto;  
    width: auto;
    padding: 0px 30px ;
}
label{

    position: center;
    align-content: center;
    background-color: #e9ece5;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #3b3a36;
    border: 0px;
    border-radius: 20px 20px 20px 20px;

}
label:hover{
  background: #c0dfd9;
}
a:link, a:visited {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    color: #3b3a36;
}
input[type=time]{
position: relative;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px solid #ccc;
  box-sizing: border-box;
  border: 0px;
  border-radius:  18px 18px 18px 18px;
}
input[type=text], input[type=password], input[type=date], input[type=email]
{

  position: relative;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px solid #ccc;
  box-sizing: border-box;
  border: 0px;
  border-radius:  18px 18px 18px 18px;
}
input[type=submit], input[type=reset]
{
    position: relative; 
    width: 25%; 
    padding: 10px 10px;
    background-color: #e9ece5;
    font-size: 15px;
    color: #3b3a36;
    font-weight: bold;  
    border: 0px;
    cursor: pointer;
    border-radius:  18px 18px 18px 18px;
}
input[type=submit]:hover, input[type=reset]:hover{
  background-color: #c0dfd9;
  cursor: pointer; 
}
h1
{
  font-size: 40px;

}
h2{

  position: relative;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: auto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
      
}
form
{
  margin-top: 10px; 
}
table{
  position: relative;
  width: 75%;
  align-content:center; 
  text-align: center;
}
th{
  position: relative;
  width: auto;
  text-align: center;
}
td{
  position: relative;
  width: auto;
  text-align: center;
}
.td2{
  position: relative;
  width: 15%;
}
[a:link, a:visited]{

    background-color: transparent;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #3b3a36;
    border: 0px;
    border-radius: 30px 30px 30px 30px; 

}
.dropbtn {
    background-color: #e9ece5;
    color: #3b3a36;
    padding: 8px 14px;
    width: 100%;
    font-size: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
}

.dropdown {
    margin-top: 16px;
    position: relative;
    display: inline-block;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #e9ece5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
    font-size: 15px;
    border-radius: 20px 20px 20px 20px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px 20px 20px 20px;
}

.dropdown-content a:hover 
{
  background-color: #c0dfd9

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #c0dfd9;
}
.fa{
  font-weight: bold;
}